/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: "Montserrat";
}
/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

.header-user {
  display: flex;
  gap: 20px;
  margin-right: 20px;
}
.header-user p {
  font-family: "Montserrat";
  color: white;
  font-size: 18px;
  font-weight: 400;
}

.header-user p:last-child:hover {
  color: aquamarine;
}

.error-text {
  color: red;
}
